.idea/Assignments.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Assignment 1/.idea/Assignment 1.iml
Assignment 1/.idea/modules.xml
.gitignore
Assignment 1/.ipynb_checkpoints/Assignment 1-checkpoint.ipynb
